# --- Editor / OS junk ---
*.swp
*~

# --- Python ---
__pycache__/
.ruff_cache/
.venv/
venv/
__pypackages__/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/

# --- PlatformIO ---
firmware/.vscode/
**/.pio/
**/.pioenvs/
**/.piolibdeps/

# --- ROS / colcon / catkin build artifacts ---
build/
install/
devel/
log/
logs/
build_isolated/
devel_isolated/
bin/
lib/
!/firmware/lib/
!/firmware/lib**
msg_gen/
srv_gen/

# Also catch nested workspaces
/**/build/
/**/install/
/**/log/


# --- RViz configs ---
**/rviz
!/ros_ws/src/omniseer_description/rviz
!/ros_ws/src/omniseer_description/rviz/**

# --- ROS message generation ---
msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/_*.py

# --- Dynamic reconfigure generated ---
*.cfgc
/cfg/cpp/
/cfg/*.py

# --- Docs ---
# Doxygen-style generated docs
*.dox
*.wikidoc
# MkDocs build output
site/

# --- Backups ---
*.bak

# --- ROS bag/log artifacts ---
*.db3
*.mcap
*.bag*
