<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Timberland_Mens_Earthkeepers_Stormbuck_Plain_Toe_Oxford</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Timberland Men's Earthkeepers Stormbuck Plain Toe Oxford
Exploring new gear for this season? Check out our Men's Earthkeepers Stormbuck Plain Toe Oxford. One of our most classic styles, our Earthkeepers&amp;#8482; Stormbuck Plain Toe Oxford is versatile, waterproof and updated for the new season with plenty of eco-conscious features.</description>
</model>
